{% extends "store/basic.html" %}

{% block title %} VM Cart {% endblock %}


{% block content %}
  <main>
    <div class="container">


    <div class="table-responsive text-nowrap">
    <h2>Cart </h2>

        Order Total: Taka {{ order_total }}
        <br>
        {% for key, value in object.items %}
            <h3> {{ key }} </h3>  Amount: {{ value.1 }}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col"> Seller </th>
                        <th scope="col">Total Item Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in value.0  %}
                    <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ order_item.item.name }}</td>
                    <td>{{ order_item.item.price }}</td>
{#                     <td>{{ order_item }}</td>#}
                    <td>
                        <a href="{% url 'remove-single-item-from-cart' order_item.item.id %}"><i class="fas fa-minus mr-2"></i></a>
                        {{ order_item.quantity }}
                        <a href="{% url 'add-single-item-in-cart' order_item.item.id %}"><i class="fas fa-plus ml-2"> </i></a>
                    </td>
                    <td>
                        <a href="{% url 'store_view' order_item.item.seller.username  %}">
                            {{ order_item.item.seller.username }}
                        </a>
                    </td>
                    <td>
                        Taka. {{ order_item.get_total_item_price }}
                    <a style='color: red;' href="{% url 'remove-from-cart' order_item.item.id %}">
                        <i class="fas fa-trash float-right"></i>
                    </a>
                    </td>
                     </tr>
                    {% endfor %}
                 </tbody>
            </table>

            {% empty %}
            <tr>
                <td colspan='8'>Your cart is empty</td>
                <a class='btn btn-primary float-right' href='{% url 'home_view' %}'>Continue shopping</a>
            </tr>

        {% endfor %}

        {% if object|length > 0 %}
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='{% url 'checkout' %}' >Proceed to checkout</a>
            <a class='btn btn-primary float-right' href='{% url 'home_view' %}'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}

    </div>
    </div>
  </main>

{% endblock content %}


