{% extends "accounts/base.html" %}

{% comment %}
{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}

{% block title %} 
    Seller Registration
{% endblock %}

{% block content %} 
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock %}{% endcomment %}


{% load crispy_forms_tags %}

{% block title %}
    Seller Registration
{% endblock %}

{% block content %}

    <div class="row">
        <div class="content-section col-md-8">
            <h2>Sign up for a free account</h2>
            <p class="lead">Select below the type of account you want to create</p>
            <a href="{% url 'register_seller' %}" class="btn btn-seller btn-lg" role="button">I'm a Seller</a>
            <a href="{% url 'register_customer' %}" class="btn btn-customer btn-lg" role="button">I'm a Customer</a>
          </div>
         <div class="col-md-8">
             <div class=" border-top pt-3">
            <small class="text-muted">
               Already Registered? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
             </div>
        </div>

    </div>
{% endblock %}
