{#<div>#}
{#    <h5>{{product.product_name}}</h5>#}
{#    <p><b>Taka.{{product.price}} </b></p>#}
{#    <p>{{product.description}}</p>#}
{#    <a href="{% url 'view-profile' product.accounts.username %}"> {{product.accounts.username}}</a>#}
{#</div>#}
  
{% extends 'store/basic.html' %}

{% block title%} {{product.product_name}} - {{product.seller.profile.store_name}}{% endblock %}
{% block content %}
{#    <a href="{% url 'store_view' product.accounts.username %}"> Go to Store {{product.accounts.profile.store_name}}  </a>#}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home_view'%}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'store_view' product.seller.username %}"> {{  product.seller.profile.store_name }}</a></li>
        <li class="breadcrumb-item"><a href="#">{{product.product_name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
    <br>

<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
        <div class="row">
            <img src="/media/{{product.image}}" width="233px" height="385px">

        </div>
        <div class="row">
            <button class="btn btn-danger mx-3">Buy Now</button>

            <span id="divpr{{product.id}}" class="divpr">
                <button id="pr{{product.id}}" class="btn btn-primary cart">Add To Cart</button>
            </span>

        </div>
    </div>

    <div class="col-md-8">
        <h5 id="namepr{{product.id}}">{{product.product_name}}</h5>
        <b> Taka. <p id="pricepr{{product.id}}"> {{product.price}} </p> </b>
        <p>{{product.description}}</p>
        <p>{{product.product_image}} </p>
    </div>
    </div>
</div>

<div class="container my-4">
    Hello
</div>

{% endblock %}