{% extends 'store/basic.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block css %}
    <style>
    .text-center{
        font-size: 10px;
    }
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <h3> Search results across different web stores</h3>

    {% if similar_products_real_vendor|length > 0 %}
        <div class="col-sm-2 product-grid">
        {% for product in similar_products_real_vendor %}
                <div class="image">
                    <a href="{{ product.link }}">
                        {% if product.seller == "othoba" %}
                        <img src="{% static "images/othoba.jpg" %}" class="w-100">
                        {% elif product.seller == "daraz" %}
                        <img src="/media/" class="w-100">
                        {% endif %}
                    </a>
                </div>
                <h5 class="text-center"> {{ product.title }} </h5>
                <h5 class="text-center">Taka.  {{ product.price }} </h5>
                <h5 class="text-center">Seller: {{ product.seller}} </h5>
        {#				<a href="#" class="btn buy ">BUY</a>#}


        {% endfor %}
         </div>
    {% else%}
          <h4> No Products Found</h4>
    {% endif %}

</div>

{% endblock %}