{% extends 'store/basic.html' %}

{% block title%} {{seller.profile.store_name}}{% endblock %}

{% block css %}
   .allProds {
      display: inline-block;
      height: 50px;
      top: auto;
      bottom: auto;
      background-color:yellow;
    }
    .prod-img{
       height: 300px;
    }
{% endblock %}

{% block content %}
  {% if product.count > 0 %}
      {% for pr in product %}
          <div class="card allProds" style="width: 18rem;">
            <img src="/media/{{pr.product_image}}" class="card-img-top prod-img" alt="...">
            <div class="card-body">
              <h5 class="card-title"> {{ pr.product_name}} </h5>
              <p class="card-text"> {{ pr.description|slice:"0:100" }}</p>
              <a href="{% url 'product_view' pr.id %}" class="btn btn-primary">View Product</a>
            </div>
          </div>
      {% endfor %}
  {% else%}
      <h1> No product exists </h1>
  {% endif %} 
    
{% endblock %}

{% block js %}
  <script>
   if(localStorage.getItem('cart') == null){
        var cart = {};
    }
    else
    {
        cart = JSON.parse(localStorage.getItem('cart'));
        //document.getElementById('cart').innerHTML = Object.keys(cart).length;
        updatePopover(cart);
    }
  updateCart(cart);
  updatePopover(cart);

  function updatePopover(cart) {
    //console.log('We are inside updatePopover');
    var popStr = "";
    popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart) {
        popStr = popStr + "<b>" + i + "</b>. ";
        //console.log(document.getElementById('name' + item).innerHTML);
        popStr = popStr + cart[item][1].slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
        i = i + 1;
    }
        popStr = popStr + "</div> <a href='{% url 'checkout' %}'><button class='btn btn-primary' id ='checkout'>Checkout</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>     "
        //console.log(popStr);
        document.getElementById('popcart').setAttribute('data-content', popStr);
        $('#popcart').popover('show');
    }

     function updateCart(cart) {
        var sum = 0;

        for (var item in cart) {
            //console.log(item);
            sum = sum + cart[item][0];
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = sum;
        //console.log(cart);
        updatePopover(cart);
    }

  function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
   
    localStorage.clear();
    cart = {};
    updateCart(cart);
  }

  </script>
{% endblock %}

