{% extends 'store/basic.html' %}

{% block title%} {{seller.store_name}}{% endblock %}


{% block css%}
    body{
	color: #434444;
}
.container{
	padding-top: 50px;
}
hr{
	width: 300px;
	border: 3px solid #434444;
}

/* Product Grid */
.product-grid{
	padding-bottom: 20px;
	padding-top: 20px;
}
.product-grid:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image{
	position: relative;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(67, 68, 68, 0.7);
}
.image:hover .overlay{
	opacity: 1;
}
.detail{
	color: #fff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.buy{
	background-color: transparent;
	color: #434444;
	border-radius: 0;
	border: 1px solid #434444;
	width: 100%;
	margin-top: 20px;
}
.buy:hover{
	background-color: #434444;
	color: #fff;
}

img.w-100{
    height: 250px;
}
{% endblock %}

{% block content %}

    <div class="container">
		<h1 class="text-center">{{ seller.store_name }}</h1>
		<hr>

		<div class="row product-grid">
            <div class="col-sm-3 ">
                <div class="image">
                     <img src="/media/{{ seller.store_logo}}" class="w-100">
                </div>
            </div><div class="col-sm-3">
            </div>
            <div class="col-sm-6" style="padding-top: 50px;">
                <h6> <i class="fas fa-archway mr-3"></i> {{ seller.store_name}}</h6>
                <h6> <i class="fas fa-user-tie mr-3"></i> {{ seller_user.username}}</h6>
                <h6> <i class="fas fa-home mr-3"> </i>{{ seller.store_location}}</h6>
                <h6>  <i class="fas fa-phone mr-3"></i> {{ seller.phone_number }} </h6>
                <h6>  <i class="fas fa-envelope mr-3"></i> {{ seller_user.email }} </h6>
            </div>
        </div>
	</div>

	<div class="container">
		<h1 class="text-center">Products</h1>
		<hr>

		<div class="row">
			<!-- Product  -->

        {% if product.count > 0 %}
            {% for pr in product %}
                <div class="col-md-3 product-grid">
                    <div class="image">
                        <a href="{% url 'product_view' pr.id %}">
                            <img src="/media/{{ pr.image}}" class="w-100">
                            <div class="overlay">
                                <div class="detail">View Details</div>
                            </div>
                        </a>
                    </div>
                    <h5 class="text-center">{{ pr.name}}</h5>
                    <h5 class="text-center">Price: {{ pr.price}}</h5>

                    <a href="{{ pr.get_add_to_cart_url }}" class="btn buy ">BUY</a>
                </div>
            {% endfor %}
        {% else%}
            <h1> No product exists </h1>
        {% endif %}

		</div>

	</div>

{% endblock %}