
{% extends 'dashboard/dashboard.html' %}
{% load crispy_forms_tags %}

{% block main%}

{#    {{ accounts.username }}'s Category add#}

    <div class="content-section">
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> New Category </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" onclick="submit()">Add Category</button>
            </div>

            {{ form.non_field_errors }}

        </form>
    </div>

{% endblock %}