
{% load crispy_forms_tags %}

{% block main%}

    {{ seller.username }} product edit

    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Edit Product </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" onclick="submit()">Edit Product</button>
            </div>
            {{ form.non_field_errors }}
        </form>
    </div>

{% endblock %}
